.home {
  display: flex;
  // align-items: center;
  // justify-content: center;
  height: 85%;
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.productContainer {
  display: flex;
  // flex-direction: column;
  height: 22%;
  background-color:white;
  width: 32%;
  align-items: center;
}

.navButton{
    background-color: none !important;
    color: white !important;
    margin-left: auto !important;
    margin-right: 2rem !important;
    height: 2rem !important; 
    min-width: 8rem !important;
    background-color:rgb(7, 84, 87) !important;
    &:hover {
        background-color: cadetblue !important; 
      }

}

